:root{
    --funte: 'Krub', sans-serif;
    --naranja_oscuro: #f26a21;
    --naranja_claro: #f7911c;
    --negro: #212121;
    --blanco: #fff;
    --opaco: rgba(0, 0, 0, 0.4);
    --fondo: #e3e4e4;
}

html{
    font-size: 62.5%;
    font-family: var(--funte);
}

body{
    font-size: 1.6rem;
    font-weight: bold;
    background-color: var(--fondo);
}

.contenedor{
    margin: 4rem;
    display: flex;
    background-color: var(--blanco);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    border-radius: 1rem;
}

.contenedor .contenedor-items{
    padding: 20px;
}

.contenedor .contenedor-items .imagen{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.contenedor .contenedor-items .articulo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px rgba(163,163,163,0.6) solid;
    padding: 0.5rem;
    position: relative;
}

.contenedor .contenedor-items .articulo:last-child{
    border: none;
}

.contenedor .contenedor-items .articulo .cantidad {
    margin-top: 10px;
}

.contenedor .contenedor-items .articulo .cantidad .boton-cantidad:hover {
    background-color: var(--naranja_oscuro);
}

.contenedor .contenedor-items .articulo .salto{
    margin: auto;
}

.contenedor .contenedor-items .articulo .salto .nombre-articulo{
    color: var(--naranja_oscuro);
}

.contenedor .contenedor-items .articulo .salto .centra-cantidad{
    text-align: center;
}

.contenedor .contenedor-items .articulo .cantidad .texto-cantidad{
    margin: auto;
}

.texto-eliminar p{
    text-align: center;
}

.resumen-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-top: 30px;
    gap: 2rem;
}

.contenedor .resumen{
    border: 1px solid black;
    display: grid;
    height: 300px;
    width: 275px;
    background-color: #f3f3f3;
    border-radius: 1rem;
}

.contenedor .resumen .renglon-1{
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.contenedor .resumen .renglon-2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contenedor .resumen .renglon-2 .texto-renglon-2{
    flex-basis: calc(50%);
    padding-left: 10px;
}

.contenedor .resumen .renglon-2 .r2-espacio{
    text-align: right;
    padding-right: 10px;
}

.contenedor .resumen .renglon-3{
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.contenedor .resumen .renglon-3 .texto-renglon-3{
    color: var(--naranja_claro);
    text-align: right;
    margin-left: auto;
    padding-right: 10px;
}

.btn-comprar{
    padding: 0.5rem 1rem;
    background-color: #26FF49;
    border-radius: 25px;
}

.btn-comprar:hover{
    background-color: var(--naranja_claro);
    cursor: pointer;
}

@media screen and (max-width: 1250px){
    .contenedor{
        display: grid;
    }
    .contenedor .resumen-conteiner .resumen{
        width: 100%;
    }
}

@media screen and (max-width: 926px){
    .contenedor{
        display: grid;
    }
    .contenedor .resumen-conteiner .resumen{
        width: 100%;
    }
    .contenedor .contenedor-items .articulo{
        display: grid;
        column-gap: 10px;
    }
}

@media screen and (max-width: 700px){
    .contenedor{
        display: grid;
    }
    .contenedor .resumen-conteiner .resumen{
        width: 100%;
        margin: auto;
    }
    .contenedor .contenedor-items .articulo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
    }
    .contenedor .contenedor-items .imagen{
        border-bottom: 1px solid black;
    }
}

@media screen and (max-width: 440px){
    .contenedor{
        display: grid;
    }
    .contenedor .resumen-conteiner .resumen{
        width: 100%;
        margin: auto;
    }
    .contenedor .contenedor-items .articulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        row-gap: 7.5px;
    }
    .contenedor .contenedor-items .imagen{
        border-bottom: 1px solid black;
    }
    .contenedor .contenedor-items{
        width: 100%;
    }
}