:root{
    --funte: 'Krub', sans-serif;
    --naranja_oscuro: #f26a21;
    --naranja_claro: #f7911c;
    --negro: #212121;
    --blanco: #fff;
    --opaco: rgba(0, 0, 0, 0.4);
    --fondo: #e3e4e4;
    --nostros: #ffdaaf;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--funte);
}

body{
    font-size: 1.6rem;
    background-color: var(--fondo);
}

.contenido{
    display: flex;
    margin: 2rem 2rem;
}

.barra{
    display: block;
    align-items: center;
}

.barra div{
    background-color: var(--blanco);
}

.seleccion-categorias {
    background-color: var(--fondo);
    border:2px solid var(--negro);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}

.truper{
    border:2px solid var(--negro);
    background-color: var(--fondo);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.anuncio{
    background-color: var(--fondo);
    border:2px solid var(--negro);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.nosotros{
    display: flex;
    flex-direction: column;
    padding: 33px;
}

main img{
    width: 100%;
    height: auto;
}

.nosotros-tex{
    background-color: var(--nostros);
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    height: min-content;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nosotros-tex p{
    font-weight: normal;
    line-height: 2;
}

.nosotros-tex h2{
    height: 4rem;
}

.nosotros .nosotros-tex h2{
    font-size: 2rem;
}

.nosotros .imagen{
    text-align: center;
}